@model ShoppingCartViewModel

@if (Model.ShoppingCart.ShoppingCartItems.Count > 0)
{
    <li class="nav-item">
        <a asp-controller="ShoppingCart" class="nav-link" asp-action="Index">
            <i class="fas fa-shopping-cart">@Model.ShoppingCart.ShoppingCartItems.Count</i>
        </a>
    </li>
}
else
{
    <li class="nav-item">
        <a asp-controller="ShoppingCart" class="nav-link" asp-action="Index">
            <i class="fas fa-shopping-cart"></i>
        </a>
    </li>
}
